<div class="import-keys-form">
  <div>
    <div class="text-white text-xl mt-4">
      Import Validating Keys
    </div>
    <div class="my-6 text-hint text-lg leading-relaxed">
      Upload any folder of keystore files such as the validator_keys folder that
      was created during the eth2 launchpad's eth2.0-deposit-cli process here.
      You can drag and drop the directory or individual files.
    </div>
  </div>
  <form [formGroup]="formGroup">
    <app-import-dropzone [accept]="'.json,.zip'"
      (fileChange)="fileChangeHandler($event)" #dropzone></app-import-dropzone>
    <div class="my-6 flex flex-wrap">
      <mat-error class="warning" *ngIf="formGroup && formGroup.touched &&
        formGroup.controls.keystoresImported.hasError('noKeystoresUploaded')">
        Please upload at least 1 valid keystore file
      </mat-error>
    </div>
    <mat-selection-list *ngIf="keystoresImported?.length > 0" class="rounded-md bg-purple-900 override" style="padding-top:0px;" #shoes>
      <div class="bg-indigo-800 rounded-t-md flex flex-row items-center w-full p-5">
        <div class="flex flex-1 self-stretch items-center "> 
          <mat-slide-toggle [formControl]="uniqueToggleFormControl">Unique Passwords Mode</mat-slide-toggle>
        </div>
        <div *ngIf="!editMode" class="flex-none">
          <button mat-raised-button color="primary" (click)="enterEditMode()">Edit</button>
        </div>

        <div *ngIf="editMode" class="flex-none"> 
          <button mat-raised-button color="primary" (click)="removeKeystores()">Remove</button>
          <button mat-raised-button (click)="editMode = false">Cancel</button>
        </div>
      </div>
      <div class="overflow-y-auto keystore-list-wrapper">
        <ng-container formArrayName="keystoresImported">
          <mat-list-item *ngFor="let keystoreForm of keystoresImported.controls; let i=index">
            <div class="flex flex-row items-center w-full" [formGroup]="keystoreForm"> 
              <div *ngIf="editMode" class="flex self-stretch items-center ">
                <mat-checkbox class="p-5 " formControlName="isSelected"></mat-checkbox>
              </div>
              <div *ngIf="!uniqueToggleFormControl.value " class="flex flex-1 self-stretch items-center ">
                <span class="p-5">Pub Key: {{keystoreForm.get('pubkeyShort').value}}... File: {{keystoreForm.get('fileName').value}}</span>
              </div>
              <div *ngIf="uniqueToggleFormControl.value " class="flex flex-1 self-stretch items-center ">
                <mat-form-field  class="w-full p-2" appearance="outline">
                    <mat-label>Pub Key: {{keystoreForm.get('pubkeyShort').value}}... File: {{keystoreForm.get('fileName').value}}<span class="text-red-600">*</span></mat-label>
                    <input placeholder="keystore password" formControlName="keystorePassword" [type]="keystoreForm.get('hide').value ? 'password' : 'text'"  matInput/>
                    <mat-icon matSuffix class="cursor-pointer" (click)="keystoreForm.get('hide').value = !keystoreForm.get('hide').value">{{keystoreForm.get('hide').value ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
              </div>
            </div>
          </mat-list-item>
        </ng-container>
      </div>
      <div *ngIf="!uniqueToggleFormControl.value" class="bg-indigo-800 rounded-b-md" [formGroup]="keystorePasswordDefaultFormGroup">
        <mat-form-field  class="w-full p-2" appearance="outline">
          <mat-label>keystore password <span class="text-red-600">*</span></mat-label>
          <input placeholder="keystore password" formControlName="password" [type]="keystorePasswordDefaultFormGroup.get('hide').value ? 'password' : 'text'"  matInput/>
          <mat-icon matSuffix class="cursor-pointer" (click)="keystorePasswordDefaultFormGroup.get('hide').value = !keystorePasswordDefaultFormGroup.get('hide').value">{{keystorePasswordDefaultFormGroup.get('hide').value ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </div>
    </mat-selection-list>
    <!-- <mat-form-field appearance="outline">
      <mat-label>Password to unlock keystores <span class="text-red-600">*</span></mat-label>
      <input
        matInput
        formControlName="keystoresPassword"
        placeholder="Enter the password you used to originally create the
        keystores"
        name="keystoresPassword"
        type="password"
        />
      <mat-error class="warning"
        *ngIf="formGroup?.controls.keystoresPassword.hasError('required') && formGroup?.touched ">
        Password for keystores is required
      </mat-error>
      <mat-error class="warning"
        *ngIf="formGroup?.controls.keystoresPassword.hasError('incorrectPassword') && formGroup?.touched">
        {{formGroup?.controls.keystoresPassword.getError('incorrectPassword')}}
      </mat-error>
      <mat-error class="warning"
        *ngIf="formGroup?.controls.keystoresPassword.hasError('somethingWentWrong') && formGroup?.touched">
        Something went wrong when attempting to decrypt your keystores, perhaps
        your node is not running
      </mat-error>
    </mat-form-field> -->
  </form>
</div>
