.gains-and-losses {
  position: relative;
  .mat-card:not(.bg-primary) {
    background-color: $paper;
  }
  .mat-card.bg-primary {
    background-color: $primary;
  }
  .welcome-card {
    position: relative;
    overflow: visible;

    img {
      margin-top: -82px;
      max-width: 230px;
    }

    @include media(767px) {
      img {
        display: none;
      }
    }
  }
}

.mat-card.bg-black {
  background-color: black;
}

.logs-card {
  height: 400px;
  line-height: 24px;
}

.wallet {
  .mat-card.bg-primary {
    background-color: $primary;
  }
  .wallet-kind-card {
    img {
      width: 230px;
    }
  }
}

.usage-card {
  background: url(/assets/images/dots.png), linear-gradient(90deg, $primary -19.83%, rgb(143, 133, 242) 189.85%) !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}