.sales {
  .bills {
    .bills__icon {
      border-radius: 8px;
      height: 52px;
      width: 52px;
      overflow: hidden;
      background-color: rgba(24, 42, 136, 0.08);
      h4,
      h5 {
        color: rgba(0, 0, 0, 0.87);
      }
      img {
        height: 23px;
        width: 36.76px;
      }
    }
  }
  .product-table {
    white-space: pre;
    min-width: 400px;
    overflow: auto;
    small {
      height: 15px;
      width: 50px;
      border-radius: 500px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    }

    tbody {
      tr {
        transition: background 300ms ease;
        &:hover {
          @extend .text-muted;
        }
        td {
          border-bottom: none;
          text-transform: capitalize;
        }
        td:first-child {
          padding-left: 16px !important;
        }
      }
    }
  }
}

.analytics {
  .face-group {
    .avatar {
      border: 2px solid white;
      &:not(:first-child) {
        margin-left: -14px;
      }
    }
    .number-avatar {
      @extend .bg-error;
    }
  }

  .small-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 50%;

    .small-icon {
      font-size: 8px;
    }
  }

  .project-card {
    .card__roject-name {
      margin-left: 24px;
      @include media(767px) {
        margin-left: 4px;
      }
    }
  }
}

.gains-and-losses {
  position: relative;
  .mat-card:not(.bg-primary) {
    background-color: $paper;
  }
  .mat-card.bg-primary {
    background-color: $primary;
  }
  .welcome-card {
    position: relative;
    overflow: visible;

    img {
      margin-top: -82px;
      max-width: 230px;
    }

    @include media(767px) {
      img {
        display: none;
      }
    }
  }

  .play-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    small {
      line-height: 1;
    }
  }

  .product-table {
    white-space: pre;
    min-width: 400px;
    overflow: auto;
    small {
      height: 15px;
      width: 50px;
      border-radius: 500px;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    }

    tbody {
      tr {
        transition: background 300ms ease;
        &:hover {
          @extend .text-muted;
        }
        td {
          border-bottom: none;
          text-transform: capitalize;
        }
        td:first-child {
          padding-left: 16px !important;
        }
      }
    }
  }
  .list-item {
    border-radius: 8px;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover {
      background: rgba(0,0,0, .08);
      padding-left: 8px;
      overflow: hidden;
      & .action-icon, & .rectangle-box {
        opacity: 1;
      }
    }
    & .action-icon, & .rectangle-box {
      opacity: .76;
    }
  }
}

.logs {
  .logs-card {
    padding: 0;
  }
  .code {
    background-color: #121212;
    font-family: 'Source Code Pro', monospace;
    padding: 16px 24px;
    color: white;
    .highlight {
      color: #00C228;
    }
    .blue {
      color: #00C5C7;
    }
    .gray {
      color: #686868;
    }
  }
}

.usage-card {
  background: url(/assets/images/dots.png), linear-gradient(90deg, $primary -19.83%, rgb(143, 133, 242) 189.85%) !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}