.onboarding {
  .create-a-wallet {
    padding-top: 15%;
  }
  .onboarding-grid {
    .onboarding-card {
      border-width: 4px;
      padding-top: 60px;
      height: 400px;
      width: 350px;
      border-radius: 12px !important;
      color: white;
      img {
        width: 180px;
        height: 140px;
      }
      .wallet-info {
        margin-top: 36px;
        .wallet-kind {
          font-size: 36px;
        }
        .wallet-description {
          margin-top: 32px;
          margin-bottom: 26px;
          font-size: 16px;
          padding-left: 20px;
          padding-right: 20px;
        }
        .wallet-action {
          button {
            font-size: 18px;
          }
        }
      }
    }
    .onboarding-card.active {
      background-color: $primary;
      border-color: $primary;
      height: 480px;
      width: 420px;
      -webkit-transition : background-color 500ms ease-out;
      -moz-transition : background-color 500ms ease-out;
      -o-transition : background-color 500ms ease-out;
      transition : background-color 500ms ease-out;
    }
    .onboarding-card:not(.active) {
      cursor: pointer;
      -webkit-transition : border-color 500ms ease-out;
      -moz-transition : border-color 500ms ease-out;
      -o-transition : border-color 500ms ease-out;
      transition : border-color 500ms ease-out;
      border-color: $paper;
      .wallet-action {
        display: none;
      }
      &:hover {
        border-color: $primary;
      }
    }
  }
  .onboarding-wizard-card {
    padding: 0;
    img {
      height: 200px;
    }
    .wizard-container {
      background-color: rgba(0, 0, 0, 0.08);
      .overview-img {
        img {
          height: 220px;
        }
      }
      .mat-stepper-horizontal {
        background-color: transparent;
        height: 500px;
        width: 900px;
      }
      .mat-stepper-vertical {
        background-color: transparent;
        width: 95%;
      }
      .mat-step-label {
        color: $white;
      }
      .mat-button-disabled {
        @extend .text-hint;
      }
      .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $primary;
      }
      .mat-form-field-label {
        color: $white;
      }
      .mat-form-field {
        width: 80%;
      }
      .confirm-mnemonic-form {
        .mat-input-element {
          color: $white;
          font-size: 16px;
          padding-top: 8px;
          padding-bottom: 8px;
          line-height: 1.375;
        }
      }
      .generate-accounts-form {
        .mat-input-element {
          color: $white;
        }
      }
      .password-form {
        .mat-input-element {
          color: $white;
        }
      }
      .import-keys-form {
        .ngx-file-drop__drop-zone {
          border: 4px dashed $primary;
          border-radius: 0px;
        }
        .ngx-file-drop__content {
          color: $white;
          text-align: center;
        }
      }
    }
    .btn-container {
      position: relative;
      .btn-progress {
        position: absolute;
        top: 5px;
        left: 56px;
        margin-top: -4;
        margin-left: -24;
      }
    }
  }
}
