.signup {
  @extend .bg-default;
  .signup-card {
    padding: 0;
    width: 600px;
    img {
      width: 160px;
      height: 120px;
    }
    .signup-form-container {
      height: 300px;
      background-color: rgba(0, 0, 0, 0.08);
      .mat-button-disabled {
        @extend .text-hint;
      }
      .mat-form-field-appearance-outline .mat-form-field-outline {
        color: $primary;
      }
      .mat-form-field-label {
        color: $white;
      }
    }
  }
}

@media (max-width: 640px) {
  .signup {
    padding-left: 20px;
    padding-right: 20px;
    .signup-img {
      padding-left: 16px;
      padding-right: 16px;
      img {
        width: 100%;
      }
    }
    .signup-card {
      width: 100%;
    }
  }
}
