<div class="m-sm-30">
  <app-breadcrumb></app-breadcrumb>
  <div class="mb-8">
    <div class="text-2xl mb-2 text-white leading-snug">
      Your Validator Accounts List
    </div>
    <p class="m-0 text-muted text-base leading-snug">
      Full list of all validating public keys managed by your Prysm wallet
    </p>
  </div>

  <app-account-selections
    [selection]="selection"></app-account-selections>
    
  <div
    *ngIf="(tableDataSource$ | async) as dataSource"
    class="relative flex justify-start  items-center md:justify-between
    mb-4">
    <mat-form-field class="search-bar mr-2 text-base w-1/2" appearance="fill">
      <mat-label>Filter rows by pubkey, validator index, or name</mat-label>
      <input
        matInput
        placeholder="0x004a19ce..."
        color="primary"
        (keyup)="applySearchFilter($event, dataSource)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <app-account-actions [selection]="selection"></app-account-actions>
  </div>

  <div class="mat-elevation-z8 relative">
    <div class="table-loading-shade" *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div class="table-container bg-paper">
      <app-accounts-table
        *ngIf="(tableDataSource$ | async) as dataSource"
        [dataSource]="dataSource"
        [selection]="selection"></app-accounts-table>
    </div>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="totalData"
      [pageSizeOptions]="pageSizes">
    </mat-paginator>
  </div>
</div>
