<div class="m-sm-30">
  <app-breadcrumb></app-breadcrumb>
  <div class="mb-8">
    <div class="text-2xl mb-2 text-white leading-snug">
      Your validator accounts list
    </div>
    <p class="m-0 text-muted text-base leading-snug">
      Full list of all validating public keys managed by your Prysm wallet
    </p>
  </div>
  <div class="relative flex justify-start flex-wrap items-center md:justify-between mb-4">
    <mat-form-field class="search-bar text-base" appearance="fill">
      <mat-label>Search by title</mat-label>
      <input
        matInput
        placeholder="Plastic love..."
        color="primary"
        (keyup)="applyFilter($event)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" class="large-btn">
      <span class="flex items-center">
        <span class="mr-2">Import Accounts</span>
        <mat-icon>cloud_upload</mat-icon>
      </span>
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Account name Column -->
      <ng-container matColumnDef="accountName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Account name </th>
        <td mat-cell *matCellDef="let row"> {{row.accountName}} </td>
      </ng-container>

      <!-- Validating Public key Column -->
      <ng-container matColumnDef="validatingPublicKey">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Validating Public key </th>
        <td mat-cell *matCellDef="let row"> {{row.validatingPublicKey | base64tohex}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
