<div class="signup flex h-screen">
  <div class="m-auto">
    <mat-card class="signup-card position-relative y-center">
      <div class="flex items-center">
        <div class="w-5/12 signup-img flex justify-center items-center">
          <img src="/assets/images/ethereum.svg" alt="" />
        </div>
        <div class="w-7/12">
          <form class="signup-form-container px-8 py-16" [formGroup]="formGroup" (ngSubmit)="signup()">
            <mat-form-field appearance="outline">
              <mat-label>Signup for Prysm Web</mat-label>
              <input
                matInput
                formControlName="password"
                placeholder="Enter your password for Prysm web"
                name="password"
                type="password"
              />
              <mat-error *ngIf="formGroup?.controls?.password.hasError('required')">
                {{passwordValidator.errorMessage.required}}
              </mat-error>
              <mat-error *ngIf="formGroup?.controls?.password.hasError('minlength')">
                {{passwordValidator.errorMessage.minLength}}
              </mat-error>
              <mat-error *ngIf="formGroup?.controls?.password.hasError('pattern')">
                {{passwordValidator.errorMessage.pattern}}
              </mat-error>
            </mat-form-field>
            <div class="py-2"></div>
            <mat-form-field appearance="outline">
              <mat-label>Password Confirmation</mat-label>
              <input
                matInput
                formControlName="passwordConfirmation"
                placeholder="Confirm password"
                name="passwordConfirmation"
                type="password"
              />
              <mat-error *ngIf="formGroup?.controls?.passwordConfirmation.hasError('required')">
                Confirmation is required
              </mat-error>
              <mat-error *ngIf="formGroup?.controls?.passwordConfirmation.hasError('passwordMismatch')">
                {{passwordValidator.errorMessage.passwordMismatch}}
              </mat-error>
            </mat-form-field>
            <div class="py-2"></div>
            <div class="btn-container">
              <button mat-raised-button color="primary" name="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card>
  </div>
</div>
