<div class="flex items-center gap-x-1">
  <div class="w-4/12 signup-img pl-2 flex justify-center items-center">
    <img src="/assets/images/eth.svg" alt="" />
  </div>
  <div class="w-8/12">
    <form class="signup-form-container pl-6 pr-4 py-16" [formGroup]="formGroup" (ngSubmit)="signup()">
      <mat-form-field appearance="outline">
        <mat-label>Signup for Web</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Enter a new password"
          name="password"
          type="password"
        />
        <mat-error *ngIf="formGroup?.controls?.password.hasError('required')">
          {{passwordValidator.errorMessage.required}}
        </mat-error>
        <mat-error *ngIf="formGroup?.controls?.password.hasError('minlength')">
          {{passwordValidator.errorMessage.minLength}}
        </mat-error>
        <mat-error *ngIf="formGroup?.controls?.password.hasError('pattern')">
          {{passwordValidator.errorMessage.pattern}}
        </mat-error>
      </mat-form-field>
      <div class="py-2"></div>
      <mat-form-field appearance="outline">
        <mat-label>Password Confirmation</mat-label>
        <input
          matInput
          formControlName="passwordConfirmation"
          placeholder="Confirm password"
          name="passwordConfirmation"
          type="password"
        />
        <mat-error *ngIf="formGroup?.controls?.passwordConfirmation.hasError('required')">
          Confirmation is required
        </mat-error>
        <mat-error *ngIf="formGroup?.controls?.passwordConfirmation.hasError('passwordMismatch')">
          {{passwordValidator.errorMessage.passwordMismatch}}
        </mat-error>
      </mat-form-field>
      <div class="py-2"></div>
      <div class="btn-container">
        <button mat-raised-button color="primary" name="submit">Submit</button>
      </div>
    </form>
  </div>
</div>