<div class="text-muted text-lg mb-2">
    Selected {{accountList.selectedOptions.selected.length}} Accounts
</div>
<mat-checkbox
    class="ml-3"
    (change)="toggleChange(accountList,$event)"
    [formControl]="toggledAll">
    <ng-container *ngIf="toggledAll.value; else notToggled">
        Unselect all
    </ng-container>
    <ng-template #notToggled>
        Select all
    </ng-template>
</mat-checkbox>
<cdk-virtual-scroll-viewport class="example-viewport"
    itemSize="50">
    <mat-selection-list
        (selectionChange)="selectionChange($event)"
        #accountList>
        <mat-list-option
            [value]="item.validatingPublicKey|base64tohex"
            *cdkVirtualFor="let item of accounts$|async">
            {{item.validatingPublicKey|base64tohex|slice:0:16}}...
        </mat-list-option>
    </mat-selection-list>
</cdk-virtual-scroll-viewport>