<mat-card>
  <div class="grid grid-cols-1 gap-y-6">
    <div>
      <div class="flex justify-between">
        <div class="text-white uppercase">Wallet Directory</div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" matTooltip="hello">
          help_outline
        </mat-icon>
      </div>
      <div class="text-primary text-base mt-2">
        /Users/me/Library/Eth2Validators/prysm-wallet-v2
      </div>
    </div>
    <div>
      <div class="flex justify-between">
        <div class="text-white uppercase">Accounts Keystore File</div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" matTooltip="hello">
          help_outline
        </mat-icon>
      </div>
      <div class="text-primary text-base mt-2">
        /Users/me/Library/Eth2Validators/prysm-wallet-v2/direct/all-accounts.keystore.json
      </div>
    </div>
  </div>
</mat-card>