<div class="create-a-wallet">
    <div class="text-center pb-8">
        <div class="text-white text-3xl">Recovery Wallet Setup</div>
        <div class="text-muted text-lg mt-6 leading-snug">
            We'll guide you through the recovery of your wallet
        </div>
    </div>

    <div class="onboarding-grid flex justify-center items-center my-auto">
        <mat-card class="onboarding-wizard-card position-relative y-center">
            <div class="flex items-center">
                <div class="hidden md:flex signup-img justify-center p-10
                    items-center">
                    <img src="/assets/images/onboarding/lock.svg" alt="" />
                </div>
                <div class="wizard-container md:flex
                    items-center">
                    <mat-card-content>
                        <mat-stepper  [orientation]="!isSmallScreen?'horizontal':'vertical'"
                            #stepper
                            linear>
                            <mat-step [stepControl]="mnemonicFg"
                                label="Mnemonics">
                                <app-mnemonic-form
                                    (backToWalletsRaised)="backToWalletsRaised.emit()"
                                    (nextRaised)="onNext(stepper,mnemonicFg,$event)"
                                    [fg]="mnemonicFg"></app-mnemonic-form>
                            </mat-step>
                            <mat-step [stepControl]="walletPasswordFg"
                                label="Wallet password">
                                <ng-container *ngIf="loading; else
                                    formTemplate">
                                    <div class="text-white text-xl mt-4">
                                        Recovering wallet...
                                    </div>
                                    <div class="my-4 text-hint text-lg
                                        leading-snug">
                                        Please wait while we are recovering your
                                        wallet.
                                    </div>
                                    <div>
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </div>
                                </ng-container>
                                <ng-template #formTemplate>
                                    <app-password-form
                                        #walletForm
                                        title="Wallet Password"
                                        subtitle="You'll need to input this
                                        password
                                        every time you log back into the web
                                        interface"
                                        label="Wallet password"
                                        confirmationLabel="Confirm wallet
                                        password"
                                        [formGroup]="walletPasswordFg"></app-password-form>
                                    <div class="mt-4">
                                        <button color="accent" mat-raised-button
                                            (click)="stepper.previous()">Previous</button>
                                        <span class="ml-4"><button
                                                color="primary"
                                                mat-raised-button
                                                [disabled]="walletPasswordFg.invalid"
                                                (click)="walletRecover(walletForm.formGroup)">Continue</button></span>
                                    </div>
                                </ng-template>
                            </mat-step>
                        </mat-stepper>
                    </mat-card-content>
                </div>
            </div>
        </mat-card>
    </div>
</div>