<mat-card class="bg-paper">
  <div class="flex items-center">
    <div>
      <div
        class="pulsating-circle"
        [class.green]="connected$ | async"
        [class.red]="(connected$ | async) === false"></div>
    </div>
    <div class="text-white text-lg m-0 ml-4">
      Beacon Node Status
    </div>
  </div>
  <div class="mt-4 mb-2">
    <div class="text-muted text-lg">
      {{endpoint$ | async}}
    </div>
    <div
      *ngIf="connected$ | async"
      class="text-base my-2 text-success">
      Connected <span *ngIf="(syncing$ | async) === false">and synced</span>
    </div>
    <div
      *ngIf="(connected$ | async) === false"
      class="text-base my-2 text-error">
      Not Connected
    </div>
  </div>
  <div class="mt-2 mb-4 grid grid-cols-1 gap-2" *ngIf="(chainHead$ | async) as chainHead">
    <div class="flex" *ngIf="(latestClockSlotPoll$ | async) as latestClockSlot">
      <div class="min-w-sm text-muted">Current Slot</div>
      <div class="text-lg">{{latestClockSlot}}</div>
    </div>
    <div class="flex">
      <div class="min-w-sm text-muted">Synced Up To</div>
      <div class="text-lg">{{chainHead.headSlot}}</div>
    </div>
    <div class="flex">
      <div class="min-w-sm text-muted">Justified Epoch</div>
      <div class="text-lg">{{chainHead.justifiedEpoch}}</div>
    </div>
    <div class="flex">
      <div class="min-w-sm text-muted">Finalized Epoch</div>
      <div class="text-lg" [class.text-red-500]="(chainHead.headEpoch - chainHead.finalizedEpoch) > 4">{{chainHead.finalizedEpoch}}</div>
    </div>
    <div class="text-red-500" *ngIf="(chainHead.headEpoch - chainHead.finalizedEpoch) > 4">
      Warning, the chain has not finalized in 4 epochs, which will lead to most validators leaking balances
    </div>
  </div>
  <div *ngIf="(connected$ | async) && (syncing$ | async)">
    <div>
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="text-muted mt-3">
      Syncing to chain head...
    </div>
  </div>
</mat-card>
