<mat-card class="bg-paper">
  <div class="flex items-center">
    <div>
      <div
        class="pulsating-circle"
        [class.green]="(beaconNodeState.connected$ | async)"
        [class.red]="!(beaconNodeState.connected$ | async)"></div>
    </div>
    <div class="text-white text-lg m-0 ml-4">
      Beacon Node Status
    </div>
  </div>
  <div class="my-4">
    <div class="text-muted text-lg">
      {{(beaconNodeState.beaconNodeEndpoint$ | async)}}
    </div>
    <div
      *ngIf="(beaconNodeState.connected$ | async)"
      class="text-base my-2 text-success">
      Connected <span *ngIf="!(beaconNodeState.syncing$ | async)">and synced</span>
    </div>
    <div
      *ngIf="!(beaconNodeState.connected$ | async)"
      class="text-base my-2 text-error">
      Not Connected
    </div>
  </div>
  <div *ngIf="(beaconNodeState.connected$ | async) && (beaconNodeState.syncing$ | async)">
    <div>
      <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="text-muted mt-3">
      Syncing to chain head...
    </div>
  </div>
</mat-card>
