<div class="logs m-sm-30">
  <app-breadcrumb></app-breadcrumb>
  <div class="grid grid-cols-3 gap-8">
    <div class="col-span-2">
        <mat-card class="pt-20 logs-card bg-paper">
          <div class="card-title px-24 mb-12">validator client logs</div>
          <div class="code">
  <span class="gray">[2020-08-08 03:56:08] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Attestation schedule attesters=1 pubKeys=[0xa0551c35fad1] slot=26088
  <br/>
  <span class="gray">[2020-08-08 03:56:08] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Attestation schedule attesters=2 pubKeys=[0x8e557d66788b 0x822e00ec3d8e] slot=26097
  <br/>
  <span class="gray">[2020-08-08 03:56:08] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Attestation schedule attesters=1 pubKeys=[0xae5155ebd98c] slot=26100
  <br/>
  <span class="gray">[2020-08-08 03:56:08] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Attestation schedule attesters=1 pubKeys=[0x94b8be4a66ce] slot=26101
  <br/>
  <span class="gray">[2020-08-08 03:56:24] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Submitted new attestations AggregatorIndices=[] AttesterIndices=[21811] BeaconBlockRoot=0xd07cdd31ef90 CommitteeIndex=3 Slot=26081 SourceEpoch=814 SourceRoot=0xd8a76ec4ec5f TargetEpoch=815 TargetRoot=0x6bb926a538d6
  <br/>
  <span class="gray">[2020-08-08 03:56:24] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Submitted new attestations AggregatorIndices=[] AttesterIndices=[21813] BeaconBlockRoot=0xd07cdd31ef90 CommitteeIndex=0 Slot=26081 SourceEpoch=814 SourceRoot=0xd8a76ec4ec5f TargetEpoch=815 TargetRoot=0x6bb926a538d6
  <br/>
  <span class="gray">[2020-08-08 03:56:52] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Submitted new attestations AggregatorIndices=[21810] AttesterIndices=[21810] BeaconBlockRoot=0x9a05cf03b664 CommitteeIndex=2 Slot=26083 SourceEpoch=814 SourceRoot=0xd8a76ec4ec5f TargetEpoch=815 TargetRoot=0x6bb926a538d6
  <br/>
  <span class="gray">[2020-08-08 03:57:04] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Submitted new attestations AggregatorIndices=[21810] AttesterIndices=[21810] BeaconBlockRoot=0x9a05cf03b664 CommitteeIndex=2 Slot=26083 SourceEpoch=814 SourceRoot=0xd8a76ec4ec5f TargetEpoch=815 TargetRoot=0x6bb926a538d6
  <br/>
  <span class="gray">[2020-08-08 03:57:16] </span>  <span class="highlight">INFO </span> <span class="blue">validator</span>: Submitted new attestations AggregatorIndices=[21810] AttesterIndices=[21810] BeaconBlockRoot=0x9a05cf03b664 CommitteeIndex=2 Slot=26083 SourceEpoch=814 SourceRoot=0xd8a76ec4ec5f TargetEpoch=815 TargetRoot=0x6bb926a538d6
          </div>
        </mat-card>
    </div>
    <div class="col-span-1 grid grid-cols-1 gap-8">
        <mat-card class="bg-paper p-16">
          <div class="flex flex-middle">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>memory</mat-icon>
            </button>
            <h5 class="font-weight-500 text-green m-0 ml-12">
              Process Health
            </h5>
          </div>
          <div class="pt-16 flex flex-middle flex-space-between">
            <h2 className="m-0 text-muted flex-grow-1">OK!</h2>
            <button
              mat-button
              raised
              className="uppercase bg-error"
            >
              Stop Process
            </button> 
          </div>
        </mat-card>
        
        <mat-card class="bg-paper">
          <div class="card-title mb-12">Log Percentage Summary</div>
          <div class="text-muted">Today</div>
          <div class="pt-8"></div>
          <div class="mb-12">
            <div>
              <mat-progress-bar mode="determinate" value="70" color="primary"></mat-progress-bar>
            </div>
            <div class="my-2 text-muted">
              <small>70% Info Logs</small>
            </div>
          </div>
          <div class="mb-12">
            <div>
              <mat-progress-bar mode="determinate" value="10" color="accent"></mat-progress-bar>
            </div>
            <div class="my-2 text-muted">
              <small>10% Warning Logs</small>
            </div>
          </div>
          <div class="mb-12">
            <div>
              <mat-progress-bar mode="determinate" value="20" color="warn"></mat-progress-bar>
            </div>
            <div class="my-2 text-muted">
              <small>20% Error Logs</small>
            </div>
          </div>

        </mat-card>
    </div>
  </div>
</div>