<mat-card>
  <div class="flex gap-x-6">
    <div class="w-2/3 bg-black rounded">
      {{config}}
    </div>
    <div class="w-1/3">
      <div class="flex justify-between">
        <div class="text-muted uppercase">Keystore File</div>
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" matTooltip="hello">
          help_outline
        </mat-icon>
      </div>
      <div class="text-primary font-semibold text-2xl mt-2">
        22 ETH
      </div>
    </div>
  </div>
</mat-card>