<mat-card class="bg-primary">
  <div class="wallet-kind-card relative flex items-center justify-between px-4 pt-4">
    <div class="pr-4 w-3/4">
      <p class="m-0 uppercase text-muted text-sm leading-snug">
          WALLET KIND
      </p>
      <div class="text-2xl mb-4 text-white leading-snug">
          HD Wallet
      </div>
      <p class="m-0 text-muted text-base leading-snug">
          Hierarchical-deterministic (HD) wallets are secure blockchain wallets derived from a seed phrase (a 24 word mnemonic)
      </p>
    </div>
    <div class="w-1/4">
      <img
          src="/assets/images/undraw/wallet.svg"
          alt="wallet"
      />
    </div>
  </div>
</mat-card>