<div class="onboarding bg-default flex h-screen" [ngSwitch]="onboardingState">
  <div class="mx-auto">
    <div *ngSwitchCase="'pickingWallet'" class="create-a-wallet">
      <div class="text-center pb-8">
        <div class="text-white text-3xl">Create a Wallet</div>
        <div class="text-muted text-lg mt-6 leading-snug">
          To get started, you will need to create a new wallet <br/>to hold your validator keys
        </div>
      </div>
      <div class="onboarding-grid flex justify-center items-center my-auto">
        <div
          *ngFor="let selection of walletSelections"
          class="bg-paper onboarding-card text-center flex flex-col"
          [class.active]="selected === selection.kind"
          [class.mx-24]="selection.kind === 'derived'"
          (click)="selectWallet(selection.kind)"
        >
          <div class="flex justify-center">
            <img [src]="selection.image"/>
          </div>
          <div class="wallet-info">
            <p class="wallet-kind">
              {{selection.name}}
            </p>
            <p class="wallet-description">
              {{selection.description}}
            </p>
            <p class="wallet-action">
              <a routerLink="/dashboard/gains-and-losses">
                <button mat-raised-button color="accent">
                  Select Wallet
                </button>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'viewMnemonic'">
    </div>
    <div *ngSwitchCase="'confirmMnemonic'">
    </div>
    <div *ngSwitchCase="'walletCreated'">
    </div>
  </div>
</div>