<form class="generate-accounts-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Generate new validator accounts
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    Enter the number of new validator accounts you want to generate. This will generate validating keys from the 24 word mnemonic. Using the mnemonic, you can always recover all your validating keys <b>and</b> withdrawal keys anytime.
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Number of accounts</mat-label>
    <input
      matInput
      formControlName="numAccounts"
      placeholder="Number of accounts to generate"
      name="numAccounts"
      type="number"
    />
  </mat-form-field>
  <div *ngIf="!formGroup.pristine && formGroup.controls['numAccounts'].errors" class="mb-6 warnings">
    <div *ngIf="formGroup.controls['numAccounts'].errors.required" class="text-error">Num accounts is required</div>
    <div *ngIf="formGroup.controls['numAccounts'].errors.min" class="text-error">Num accounts must be at least 0</div>
  </div>
</form>