<app-breadcrumb></app-breadcrumb>
<div class="md:w-2/3">
    <form [formGroup]="exitAccountFormGroup" (ngSubmit)="confirmation()">
        <mat-card class="bg-paper">
            <mat-card-content>
                <h3 class="text-accent">
                    Are you sure you want exit these account?

                    Once these accounts are exited, the action cannot be
                    reverted.
                </h3>
                <mat-form-field class="w-100" *ngFor="let item of keys">
                    <input matInput [formControlName]="item.accountName" />
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Confirmation</mat-label>
                    <input matInput formControlName="confirmation" />
                    <mat-hint>Type agree if you want to exit the keys</mat-hint>
                    <mat-error>
                        <span
                            *ngIf="exitAccountFormGroup?.get('confirmation')?.hasError('required')">
                            The confirmation is required</span>

                        <span
                            *ngIf="exitAccountFormGroup?.get('confirmation')?.hasError('incorectValue')">
                            You must type agree
                        </span>
                    </mat-error>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <div class="btn-container">
                    <button mat-raised-button (click)="back()" color="accent">Back
                        to
                        Accounts</button>
                    <button mat-raised-button mat-raised-button
                        [disabled]="exitAccountFormGroup?.invalid"
                        color="primary">
                        Confirm
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</div>