<div class="bg-default flex h-screen ">
    <div class="flex flex-col w-screen ">
        <div class ="flex flex-row justify-center">
            <img src="/assets/images/initialize/PrysmStripe.png" alt="Prysm Logo"/>
        </div>
        <div *ngIf="!displayWarning" class ="flex flex-row justify-center">
            <h1>
                Initializing Prysm Web User Interface...
            </h1>
        </div>
        <div *ngIf="displayWarning" class="flex flex-row justify-center">
            <section class="flex flex-col w-400 rounded-lg bg-indigo-700 leading-normal p-5 ">
                <h2 >
                    Oops.. either your session token has expired, was cleared, or is invalid. 
                </h2>
                <h3>
                    Please return to your command line interface for instructions on regainning access to the web-ui.
                </h3>
                <p class="text-lg ">
                    <i>Your validator will continue to run normally even if your web access is lost.</i> <br/>
                    For more information, you can look at our <a href="https://docs.prylabs.network" class="underline text-blue-200 hover:text-blue-400 visited:text-purple-400">Prysm Docs</a> <br/>
                    or join us on <a href="https://discord.gg/YMVYzv6" class="underline text-blue-200 hover:text-blue-400 visited:text-purple-400">Discord</a>
                </p>
            </section>
        </div>
    </div>
</div>
