.bg-dotted {
  background: url("/assets/images/dots.png"),
    linear-gradient(90deg, #7467ef -19.83%, #ada5f6 189.85%);
  background-repeat: no-repeat;
  background-size: 100%;
}

.min-w-sm {
  min-width: 110px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.full-width {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
}
