<div class="onboarding bg-default flex h-screen" [ngSwitch]="onboardingState">
  <div class="mx-auto overflow-y-auto">
    <div *ngSwitchCase="States.PickingWallet">
      <app-choose-wallet-kind
        [walletSelections]="walletSelections"
        [selectedWallet$]="selectedWallet$"></app-choose-wallet-kind>
    </div>
    <div *ngSwitchCase="States.ImportWizard">
      <app-nonhd-wallet-wizard [resetOnboarding]="resetOnboarding.bind(this)"></app-nonhd-wallet-wizard>
    </div>
    <div *ngSwitchCase="States.RecoverWizard">
      <app-wallet-recover-wizard (onBackToWalletsRaised)="resetOnboarding()"></app-wallet-recover-wizard>
    </div>
  </div>
</div>
