<div class="onboarding bg-default flex h-screen" [ngSwitch]="onboardingState">
  <div class="mx-auto overflow-y-auto">
    <div *ngSwitchCase="States.PickingWallet">
      <app-choose-wallet-kind
        [walletSelections]="walletSelections"
        [selectedWallet$]="selectedWallet$"
      ></app-choose-wallet-kind>
    </div>
    <div *ngSwitchCase="States.NonHDWizard">
      <app-nonhd-wallet-wizard [resetOnboarding]="resetOnboarding.bind(this)"></app-nonhd-wallet-wizard>
    </div>
    <div *ngSwitchCase="States.HDWizard">
      <app-hd-wallet-wizard [resetOnboarding]="resetOnboarding.bind(this)"></app-hd-wallet-wizard>
    </div>
    <div *ngSwitchCase="States.RemoteWizard">
      <div>Hello</div>
    </div>
  </div>
</div>
