<form class="generate-accounts-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Unlock Keystores
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    Enter the password to unlock the keystores you are uploading. This is the password you set when you created the keystores using a tool such as the eth2.0-deposit-cli.
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Password to unlock keystores</mat-label>
    <input
      matInput
      formControlName="keystoresPassword"
      placeholder="Enter the password you used to originally create the keystores"
      name="keystoresPassword"
      type="password"
    />
    <mat-error class="warning" *ngIf="formGroup.controls.keystoresPassword.hasError('required')">
      Password for keystores is required
    </mat-error>
  </mat-form-field>
</form>