<div class="gains-and-losses">
  <app-breadcrumb></app-breadcrumb>
  <div class="grid grid-cols-12 gap-8">
    <div class="col-span-12 md:col-span-8 grid gap-8">
      <mat-card class="bg-primary">
        <div class="welcome-card flex justify-between px-4 pt-4">
          <div class="pr-12">
            <div class="text-2xl mb-4 text-white leading-snug">
              Your Prysm validator dashboard
            </div>
            <p class="m-0 text-muted text-base leading-snug">
              Manage your Prysm validator, analyze your validator performance, and control your wallet all from a simple web interface
            </p>
          </div>
          <img
            src="/assets/images/designer.svg"
            alt="designer"
          />
        </div>
      </mat-card>

      <app-validator-performance-summary></app-validator-performance-summary>

      <mat-card class="bg-paper">
        <app-balances-chart></app-balances-chart>
      </mat-card>
      <mat-card class="bg-paper">
        <app-validator-performance-list></app-validator-performance-list>
      </mat-card>
    </div>
    <div class="col-span-12 md:col-span-4">
      <app-beacon-node-status></app-beacon-node-status>

      <div class="py-4"></div>

      <app-validator-participation></app-validator-participation>

    </div>
  </div>
</div>
