<form class="password-form" [formGroup]="formGroup" (submit)="submit()">
  <div class="text-white text-xl mt-4">
    {{title}}
  </div>
  <div class="my-4 text-hint text-lg leading-relaxed">
    {{subtitle}}
  </div>
  <ng-container *ngIf="formGroup?.controls?.currentPassword">
    <mat-form-field appearance="outline">
      <mat-label>Current Password</mat-label>
      <input
        matInput
        formControlName="currentPassword"
        placeholder="Current wallet password"
        name="currentPassword"
        type="password"
      />
      <mat-error *ngIf="formGroup?.controls?.currentPassword.hasError('required')">
        Current wallet password is required
      </mat-error>
      <mat-error *ngIf="formGroup?.controls?.currentPassword.hasError('minlength')">
        Password needs at least 8 characters
      </mat-error>
      <mat-error *ngIf="formGroup?.controls?.currentPassword.hasError('pattern')">
        Needs at least 1 uppercase letter, 1 number, and 1 special character
      </mat-error>
    </mat-form-field>
    <div class="py-2"></div>
  </ng-container>
  <mat-form-field appearance="outline">
    <mat-label>{{label}}</mat-label>
    <input
      matInput
      formControlName="password"
      placeholder="Password"
      name="password"
      type="password"
    />
    <mat-error *ngIf="formGroup?.controls?.password.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="formGroup?.controls?.password.hasError('minlength')">
      Password needs at least 8 characters
    </mat-error>
    <mat-error *ngIf="formGroup?.controls?.password.hasError('pattern')">
      Needs at least 1 uppercase letter, 1 number, and 1 special character
    </mat-error>
  </mat-form-field>
  <div class="py-2"></div>
  <mat-form-field appearance="outline">
    <mat-label>{{confirmationLabel}}</mat-label>
    <input
      matInput
      formControlName="passwordConfirmation"
      placeholder="Confirm password"
      name="passwordConfirmation"
      type="password"
    />
    <mat-error *ngIf="formGroup?.controls?.passwordConfirmation.hasError('required')">
      Confirmation is required
    </mat-error>
    <mat-error *ngIf="formGroup?.controls?.passwordConfirmation.hasError('passwordMismatch')">
      Passwords do not match
    </mat-error>
  </mat-form-field>
  <div class="mt-4" *ngIf="showSubmitButton">
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </div>
</form>
