<form class="password-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Pick a strong wallet password
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    You'll need to input this password every time you log back into the web interface or interact with your validator wallet.
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      placeholder="Enter your password"
      name="password"
      type="password"
    />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password Confirmation</mat-label>
    <input
      matInput
      formControlName="passwordConfirmation"
      placeholder="Confirm password"
      name="passwordConfirmation"
      type="password"
    />
  </mat-form-field>
  <div *ngIf="!formGroup.pristine" class="password-warnings mb-6">
    <div *ngIf="formGroup.controls['password'].errors">
      <div *ngIf="formGroup.controls['password'].errors.required" class="text-error">Password is required</div>
      <div *ngIf="formGroup.controls['password'].errors.minlength" class="text-error">Passwords needs at least 8 characters</div>
      <div *ngIf="formGroup.controls['password'].errors.pattern" class="text-error">Needs at least 1 uppercase letter, 1 number, and 1 special char</div>
    </div>
    <div *ngIf="formGroup.controls['passwordConfirmation'].errors">
      <div *ngIf="formGroup.controls['passwordConfirmation'].errors.passwordMismatch" class="text-error">Passwords do not match</div>
    </div>
  </div>
</form>