<mat-card class="bg-paper" *ngIf="(queueData$ | async) as data">
  <div class="text-xl">
    Validator Queue
  </div>
  <div class="mt-6 text-primary font-semibold text-2xl">
    {{data.secondsLeftInQueue | amDuration:'seconds'}} left in queue
  </div>
  <div class="mt-4 mb-2 text-secondary font-semibold text-base">
    <span>{{data.churnLimit.length}}</span>
    Activated per epoch
  </div>
  <div class="mt-2 mb-1 text-muted">
    <mat-icon *ngFor="let i of data.churnLimit" class="mr-1">
      person
    </mat-icon>
  </div>
  <div class="text-sm">
    <span>{{data.activationPublicKeys.size}}</span>
    Pending activation
  </div>
  <div class="mt-1 text-sm">
    <span>{{data.exitPublicKeys.size}}</span>
    Pending exit
  </div>
  <div *ngIf="userKeysAwaitingActivation(data) as userKeys">
    <div class="py-3">
      <mat-divider></mat-divider>
    </div>
    <div class="text-muted">
      {{userKeys.length}} of your keys pending activation
    </div>
    <div *ngFor="let key of (userKeys | slice:0:4)">
      <div class="text-white text-base my-2 truncate">
        {{(key | base64tohex)}}
      </div>
      <div 
        class="flex" 
        *ngIf="positionInArray(data.originalData.activation_public_keys, key) as position">
        <div class="text-muted">{{activationETAForPosition(position, data) | amDuration:'seconds'}} left</div>
        <div class="ml-2 text-secondary font-semibold">
          {{position | ordinal}} in line
        </div>
      </div>
    </div>
    <div *ngIf="userKeys.length > 4">
      ...
    </div>
  </div>
  <div *ngIf="userKeysAwaitingExit(data) as userKeys">
    <div class="py-3">
      <mat-divider></mat-divider>
    </div>
    <div class="text-muted">
      {{userKeys.length}} of your keys pending exit
    </div>
    <div *ngFor="let key of (userKeys | slice:0:4)">
      <div class="text-white text-base my-2 truncate">
        {{(key | base64tohex)}}
      </div>
      <div 
        class="flex" 
        *ngIf="positionInArray(data.originalData.exit_public_keys, key) as position">
        <div class="text-muted">{{activationETAForPosition(position, data) | amDuration:'seconds'}} left</div>
        <div class="ml-2 text-secondary font-semibold">
          {{position | ordinal}} in line
        </div>
      </div>
    </div>
    <div *ngIf="userKeys.length > 4">
      ...
    </div>
  </div>
</mat-card>
