<mat-card class="bg-paper" *ngIf="(queueData$ | async) as data">
  <div class="pt-3 pb-5 text-right">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mr-4 cursor-pointer" [matTooltip]="activationQueueMessage">
      help_outline
    </mat-icon>
    <div class="text-center -mt-4">
      <div class="m-2 text-primary font-semibold text-3xl leading-relaxed">
        {{data.secondsLeftInQueue | amDuration:'seconds'}} left
      </div>
      <div class="text-lg">
        Validator Queue
      </div>
      <div class="mt-4">
        <mat-progress-bar
          mode="determinate"
          color="success"
          [value]="60">
        </mat-progress-bar>
      </div>
      <div class="mt-4 mb-1 text-muted">
        <mat-icon *ngFor="let i of data.churnLimit" class="mr-1">
          person
        </mat-icon>
      </div>
      <div class="mt-2 mb-2 text-secondary font-semibold text-base">
        <span>{{data.churnLimit.length}}</span>
        Activated per epoch
      </div>
      <div class="text-sm">
        <span>{{data.activationPublicKeys.size}}</span>
        Pending Activation /
        <span>{{data.exitPublicKeys.size}}</span>
        Pending Exit
      </div>
      <div class="mt-1 text-sm">
      </div>
    </div>
  </div>
</mat-card>
