<form class="generate-accounts-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Import Validating Keys
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    Upload the validator_keys folder that was created during the eth2 launchpad's eth2.0-deposit-cli process here. You can drag and drop the directory or individual keystore files.
  </div>

  <div class="my-4">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
          Optional custom content that replaces the the entire default content.
          <button type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Password to unlock keystores</mat-label>
    <input
      matInput
      formControlName="keystoresPassword"
      placeholder="Enter the password you used to originally create the keystores"
      name="keystoresPassword"
      type="password"
    />
  </mat-form-field>
  <div *ngIf="!formGroup.pristine && formGroup.controls['keystoresPassword'].errors" class="mb-6 warnings">
    <div *ngIf="formGroup.controls['keystoresPassword'].errors.required" class="text-error">Keystores password is required</div>
  </div>
</form>