<form class="import-keys-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Import Validating Keys
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    Upload the validator_keys folder that was created during the eth2 launchpad's eth2.0-deposit-cli process here. You can drag and drop the directory or individual keystore files.
  </div>

  <div class="my-4 flex">
    <div class="w-full md:w-1/2">
      <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector" 
            class="flex items-center text-center"
            (click)="openFileSelector()">
            Optional custom content that replaces the the entire default content.
            <button color="accent" mat-raised-button (click)="openFileSelector()">Browse Files</button>
          </ng-template>
      </ngx-file-drop>
    </div>
    <div class="w-full md:w-1/2">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

</form>