<div *ngIf="isDevelopment" class="bg-error text-white py-4 text-center mx-auto">
  <div class="max-w-3xl mx-auto">
    Warning! You are running the web UI in development mode, meaning it will show **fake** data for testing purposes. Do not run real validators this way. If you want to run the web UI with your real Prysm node and validator, follow our instructions <a class="text-black" href="https://docs.prylabs.network/docs/prysm-usage/web-interface" target="_blank">here</a>.
  </div>
</div>
<router-outlet></router-outlet>
