<div class="flex flex-middle position-relative">
  <h4 class="m-0 pb-2 font-size-16 capitalize text-middle">Gains &amp; Losses</h4>
  <h4 class="m-0 pb-2 ml-8 text-hint">|</h4>
  <a aria-current="page" class="active" href="/">
    <mat-icon 
      aria-hidden="false" 
      aria-label="Example home icon"
      class="text-middle ml-8 mb-1 text-primary"
    >
      home
    </mat-icon>
  </a>
  <mat-icon 
    aria-hidden="false" 
    aria-label="Example home icon"
    class="text-middle ml-6 mb-1 text-muted"
  >
    navigate_next
  </mat-icon>
  <span class="capitalize text-muted">
    Gains &amp; Losses
  </span>
</div>