<nav class="flex items-center position-relative mb-8 mt-1">
  <ol>              
    <li 
      *ngFor="let breadcrumb of breadcrumbs; let i=index" 
      class="inline items-baseline"
      [ngClass]="{'text-lg': i === 0, 'text-muted': i > 0}">
      <span *ngIf="i > 0" class="ml-4 mr-4">|</span>
      <a *ngIf="i < breadcrumbs.length - 1; else workingRoute" [href]="breadcrumb.url" >
        {{ breadcrumb.displayName }}
      </a>
      <ng-template #workingRoute>{{ breadcrumb.displayName }}</ng-template>
    </li>
  </ol>
</nav>

<!-- <mat-icon 
  *ngIf="i === 0"
  aria-hidden="false" 
  aria-label="Home icon"
  class="ml-2 text-primary"
>
  home
</mat-icon> -->