<app-breadcrumb></app-breadcrumb>
<div class="security">
  <mat-card class="bg-paper">
    <div class="flex items-center px-4 md:px-12 py-4 md:py-8">
      <div class="flex w-full md:w-1/2 items-center">
        <app-password-form
          title="Reset your web password"
          subtitle="Enter a strong password. You will need to input this password when performing sensitive actions in the web interface"
          label="New web password"
          confirmationLabel="Confirm new password"
          [submit]="resetPassword.bind(this)"
          [formGroup]="formGroup"
          [showSubmitButton]="true"></app-password-form>
      </div>
      <div class="hidden md:flex w-1/2 p-24 signup-img justify-center items-center">
        <img src="/assets/images/onboarding/lock.svg" alt="" />
      </div>
    </div>
  </mat-card>
</div>
