<app-loading [loading]="loading" [loadingTemplate]="loadingTemplate"
             [hasError]="hasError" [errorMessage]="'Error loading the validator performance summary'"
             [noData]="noData" [noDataMessage]="'No validator performance information available'">
  <ng-template #loadingTemplate>
    <div style="width:100px; margin:10px; float:left;">
      <ngx-skeleton-loader count="5"
                           [theme]="{ 'border-radius': '0', height: '10px'}"></ngx-skeleton-loader>
    </div>
    <div style="width:100px; margin:10px; float:left;">
      <ngx-skeleton-loader count="5"
                           [theme]="{ 'border-radius': '0', height: '10px'}"></ngx-skeleton-loader>
    </div>
  </ng-template>
  <div class="px-0 md:px-6" style="margin-top:10px;margin-bottom:20px;">
    <div class="text-lg">
      By the Numbers
    </div>
    <div class="mt-6 grid grid-cols-2 md:grid-cols-4 gap-y-6 gap-x-6" *ngIf="(performanceData$ | async) as perf">
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Avg Effective <br />Balance</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.effectiveBalance">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2">
          {{perf.averageEffectiveBalance | number: '1.2-2'}} ETH
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Avg Inclusion <br />Distance</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.inclusionDistance">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2">
          {{perf.averageInclusionDistance | number: '1.1-1'}} Slot(s)
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Recent Epoch<br />Gains</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.recentEpochGains">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2">
          {{perf.recentEpochGains | number: '1.4-5'}} ETH
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Correctly Voted<br />Head Percent</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.correctlyVoted">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2">
          {{perf.correctlyVotedHeadPercent | number: '1.2-2'}}%
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Validating Keys</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.keys">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2" *ngIf="(validatingKeys$ | async) as keys">
          {{keys.length}}
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Overall Score</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.score">
            help_outline
          </mat-icon>
        </div>
        <div class="font-semibold text-2xl mt-2"
             [class.text-primary]="perf.overallScore !== 'Poor'"
             [class.text-red-500]="perf.overallScore === 'Poor'">
          {{perf.overallScore}}
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Connected Peers</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.connectedPeers">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2" *ngIf="(connectedPeers$ | async) as connected">
          {{connected.length}}
        </div>
      </div>
      <div>
        <div class="flex justify-between">
          <div class="text-muted uppercase">Total Peers</div>
          <mat-icon aria-hidden="false" aria-label="Example home icon" class="text-muted mt-1 text-base cursor-pointer" [matTooltip]="tooltips.totalPeers">
            help_outline
          </mat-icon>
        </div>
        <div class="text-primary font-semibold text-2xl mt-2" *ngIf="(peers$ | async) as totalPeers">
          {{totalPeers.length}}
        </div>
      </div>
    </div>
  </div>
</app-loading>
