<form class="confirm-mnemonic-form" [formGroup]="formGroup">
  <div class="text-white text-xl mt-4">
    Confirm your mnemonic
  </div>
  <div class="my-4 text-hint text-lg leading-snug">
    Enter all 24 words for your mnemonic from the previous step to proceed. Remember this is the <span class="text-error font-semibold">only way</span> you can recover your validator keys if you lose your wallet.
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Confirm your mnemonic</mat-label>
    <textarea matInput
      name="mnemonic"
      formControlName="mnemonic"
      cdkTextareaAutosize
      appBlockCopyPaste
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="3"
      cdkAutosizeMaxRows="4"></textarea>
  </mat-form-field>
  <div *ngIf="!formGroup.pristine && formGroup.controls['mnemonic'].errors" class="mb-6 warnings">
    <div *ngIf="formGroup.controls['mnemonic'].errors.required" class="text-error">Mnemonic is required</div>
    <div *ngIf="formGroup.controls['mnemonic'].errors.pattern" class="text-error">Can only contain words separated by spaces (perhaps remove space at the end)</div>
    <div *ngIf="formGroup.controls['mnemonic'].errors.mnemonicMismatch" class="text-error">
      Entered mnemonic does not match original
    </div>
  </div>
</form>