.sidenav {
  color: rgba(255, 255, 255, 0.7);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: 99;
  box-shadow: $elevation-z8;
  .sidenav__hold {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    z-index: 3;
    background-image: url(/assets/images/sidebar-eth.png);
    opacity: 1 !important;
    .scrollable {
      padding-bottom: 120px;
    }
    // Sidebar overlay.
    &::after {
      @extend .bg-paper;
      opacity: 0.94;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
    .brand-area {
      width: $sidenav-width;
      padding: 13px 18px;
      .brand {
        img {
          height: 24px;
          margin-right: 12px;
        }
        .brand__text {
          font-weight: bold;
          font-size: 1.125rem;
        }
      }
    }
  }
}

.navigation {
  margin-top: 40px;
}

.nav-item {
  display: flex;
  justify-content: space-between;
}

.nav-item.expandable {
  padding: 0;
}

.nav-item:not(.expandable) {
  height: 60px;
  &:hover {
    background: rgba($black, 0.2);
    color: white;
  }
  &.active {
    background: rgba($black, 0.2);
    color: white;
  }
}

.nav-button {
  width: 100%;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.expandable {
  display: block;
}

.nav-expandable-button {
  width: 100%;
  border-radius: 0;
  font-weight: 400;
  padding: 0 !important;
  -webkit-font-smoothing: antialiased;
  .content {
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }
}

.submenu {
  background: rgba($black, 0.12);
  &:before,
  &:after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 3;
  }
  &:before {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
    top: 0;
  }
  &:after {
    background: linear-gradient(-180deg, rgba(0, 0, 0, 0.06), transparent);
    bottom: 0;
  }
  .nav-item {
    height: 60px;
  }
}