.table-container {
  overflow-x: auto;
}

table.mat-table {
  mat-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-column-correctlyVotedSource {
    max-width: 70px;
  }
  .mat-column-correctlyVotedTarget {
    max-width: 50px;
  }
  .mat-column-correctlyVotedHead {
    max-width: 50px;
  }
  .mat-column-gains{
    max-width: 75px;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 12px;
    padding-right: 20px;
  }

  th .mat-header-cell, td.mat-cell, td.mat-footer-cel {
    max-width: 100px;
    padding-left: 2px;
    padding-right: 2px;

    @media screen and (max-width: 1000px) {
      max-width: 70px;
    }
  }
}
