<div class="sidenav bg-paper">
  <div class="sidenav__hold">
    <div class="flex flex-middle flex-space-between brand-area">
      <div class="flex flex-middle brand">
        <img src="https://prysmaticlabs.com/assets/Prysm.svg" alt="company-logo"/>
        <span class="brand__text">Prysm Validator</span>
      </div>
    </div>
    <div class="scrollbar-container scrollable position-relative ps">
      <div class="navigation">
        <div *ngFor="let link of links">
          <a *ngIf="!link.children && !link.externalUrl" 
            class="nav-item active" 
            [routerLink]="link.path"
            [routerLinkActive]="['active']"
          >
            <button mat-button class="nav-button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">
                {{link.icon}}
              </mat-icon>
              <span style="margin-left:18px;font-size: 14px;">
                {{link.name}}
              </span>
            </button>
          </a>
          <a *ngIf="!link.children && link.externalUrl" 
             class="nav-item" 
             [href]="link.externalUrl" 
             target="_blank"
          >
            <button mat-button class="nav-button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">
                {{link.icon}}
              </mat-icon>
              <span style="margin-left:18px;font-size: 14px;">
                {{link.name}}
              </span>
            </button>
          </a>
          <app-sidebar-expandable-link 
            *ngIf="link.children"
            [link]="link"
          >
          </app-sidebar-expandable-link>
        </div>
      </div>
    </div>
  </div>
</div>