<div class="sidenav bg-paper">
  <div class="sidenav__hold">
    <div class="flex flex-middle flex-space-between brand-area">
      <div class="flex flex-middle brand">
        <img src="https://prysmaticlabs.com/assets/Prysm.svg" alt="company-logo"/>
        <span class="brand__text">Prysm Validator</span>
      </div>
    </div>
    <div class="scrollbar-container scrollable position-relative ps">
      <div class="navigation">
        <div *ngFor="let link of links">
          <a *ngIf="!link.children" class="nav-item active" [routerLink]="link.path">
            <button mat-button class="nav-button">
              <mat-icon aria-hidden="false" aria-label="Example home icon">
                {{link.icon}}
              </mat-icon>
              <span style="margin-left:18px;font-size: 14px;">
                {{link.name}}
              </span>
            </button>
          </a>
          <app-sidebar-expandable-link 
            *ngIf="link.children"
            [link]="link"
          >
          </app-sidebar-expandable-link>
        </div>
        <!-- <a class="nav-item" routerLink="/dashboard/wallet/accounts">
          <button mat-button class="nav-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon">account_balance_wallet</mat-icon>
            <span style="margin-left:18px;font-size: 14px;">Wallet & Accounts</span>
          </button>
        </a>
        <a class="nav-item" routerLink="/dashboard/system/logs">
          <button mat-button class="nav-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon">whatshot</mat-icon>
            <span style="margin-left:18px;font-size: 14px;">Process Analytics</span>
          </button>
        </a>
        <app-sidebar-expandable-link></app-sidebar-expandable-link>
        <a class="nav-item">
          <button mat-button class="nav-button">
            <mat-icon aria-hidden="false" aria-label="Example home icon">style</mat-icon>
            <span style="margin-left:18px;font-size: 14px;">Read the Docs</span>
          </button>
        </a> -->
      </div>
    </div>
  </div>
</div>