
<div mat-matDialogTitle>
    <h4 *ngIf="deleteKeysType === SPECIFIC_KEYS">
        Delete selected account/'s
    </h4>
    <h4 *ngIf="deleteKeysType === MANUAL_KEYS">
        Enter public keys to delete. If the key(s) has already been deleted, This will export its slashing protection history.
    </h4>
</div>
<div class="my-6" *ngIf="deleteKeysType === MANUAL_KEYS">
    <mat-form-field appearance="outline">
        <mat-label>Add Public Key</mat-label>
            <input
            matInput
            placeholder="i.e. 0x97asdfb......"
            [formControl] ="addPubkeyControl"
            name="pubkey"
            type="text"
            />
            <button matSuffix mat-icon-button aria-label="Clear" 
            [disabled]="addPubkeyControl.status !== 'VALID' 
            || addPubkeyControl.value === null || (publicKeys && publicKeys.includes(addPubkeyControl.value)) " (click)="addKey()">
                <mat-icon>add</mat-icon>
            </button>
            <mat-hint>
                <span>
                    Type pubkeys in hex format
                </span>
            </mat-hint>
        </mat-form-field> 
</div>
<form [formGroup]="confirmGroup" (ngSubmit)="confirm()">
    <mat-dialog-content>
        <div class="my-6">
            <mat-chip-list>
                <mat-chip *ngFor="let pubKey of publicKeys.slice(0, 5);">
                    {{pubKey | slice:0:16}}...
                </mat-chip>
                <mat-chip *ngIf="publicKeys.length> 5">
                    ...{{publicKeys.length - 3}} more
                </mat-chip>
            </mat-chip-list>
        </div>
       <div class="mb-6">
          <section class="example-section">
            <mat-checkbox class="example-margin" formControlName="isAutoDownload">Auto download exported slashing-protection?(recommended)</mat-checkbox>
          </section>
       </div>
        <div class="mb-6 text-base text-white leading-snug">
            Type in the words <i>"agree"</i> to confirm deletion of your account(s).
            <p class="text-error">WARNING: This cannot be reversed unless you have your mnemonic available! If you are migrating clients, we recommend reading our documentation <a href="https://docs.prylabs.network/" class="underline text-blue-200 hover:text-blue-400 visited:text-purple-400">here</a></p>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Confirmation Text</mat-label>
            <input
                matInput
                formControlName="confirmation"
                placeholder="Type in agree"
                name="confirmation"
                type="text"
                />
            <mat-hint>
                <span>
                    Type <i>'agree'</i> if you want to delete the selected keys
                </span>
            </mat-hint>
            <mat-error
                *ngIf="confirmGroup.controls.confirmation.hasError('required')">
                Confirmation text is required
            </mat-error>
            <mat-error
                *ngIf="confirmGroup.controls.confirmation.hasError('incorectValue')">
                You must type 'agree'
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="flex justify-end w-100">
            <button type="button" (click)="cancel()" mat-raised-button
                color="accent">Cancel</button>
            <button mat-raised-button
                [disabled]="confirmGroup.invalid || publicKeys.length === 0"
                color="primary">Confirm</button>
        </div>
    </mat-dialog-actions>
</form>