<div class="text-white text-xl mt-4">
  Your Deposit Data
</div>
<div class="my-4 text-hint text-lg leading-snug">
  Copy or download your deposit_data.json file which you can use to deposit all your newly created accounts into
  the <a href="https://medalla.launchpad.ethereum.org/" target="_blank" class="text-primary">official eth2 launchpad</a>
</div>
<div class="flex justify-center items-center gap-x-6 my-4 content-center text-center">
  <div class="my-4 deposit-img flex text-center justify-center">
    <img src="/assets/images/backup.svg"/>
  </div>
  <a [href]="generateDownloadJSONUri(depositData)" [download]="depositDataFileName">
    <button mat-stroked-button>
      <span class="mr-2">Download JSON File</span>
      <mat-icon>cloud_download</mat-icon>
    </button>
  </a>
</div>
