// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

// Plus imports for other components in your app.
@import "./styles/app";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$prysm-primary: (
  50: #eceafd,
  100: #cecbfa,
  200: #aea9f7,
  300: #8c85f3,
  400: $primary,
  500: #6047e9,
  600: #5b3edd,
  700: #5331d0,
  800: #4c22c4,
  900: #4200ac,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$prysm-secondary: (
  50: #fff3e8,
  100: #ffe2c7,
  200: #ffcfa1,
  300: #ffbb7b,
  400: #ffad5f,
  500: $secondary,
  600: #ff963d,
  700: #ff8c34,
  800: #ff822c,
  900: #ff701e,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffdece,
  A700: #ffcdb4,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$prysm-web-ui-theme: mat-dark-theme((
  color: (
    primary: mat-palette($prysm-primary),
    accent: mat-palette($prysm-secondary),
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($prysm-web-ui-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  color: $white;
}

button:focus {
  outline: none !important;
}

.mat-grid-tile .mat-figure {
  display: block !important;
}

.mat-card {
  background-color: $paper;
  border-radius: 12px;
}

.mat-table {
  background-color: $paper;
  width: 100%;
}

.mat-paginator {
  background-color: $paper;
}

.mat-tooltip {
  background-color: $primary;
  color: white;
  font-size: 14px;
  padding: 12px !important;
}